body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  overflow: hidden;
  color:#5E5780;
}
.scroll-container{
  overflow-y: auto;
  padding: 15px 0px 30px 0px;
  height:100vh;
  background: #F9F9F9;
}
.scroll-wrapper-padding{
  padding:0px 30px
}
.scroll-container .navbar-js{
  box-shadow: none;
}
.btn.btn-primary{
  padding: 6px 20px;
  border-radius: 32px;
}
.register-component a,.login-component a,.forgot-component a{
  font-size: 14px;
  font-weight: bold;
}
a{
  color:#5E5780;
}
.auth-modal{
  min-height: 390px;
}
a:hover{
  text-decoration: none;
  color:#5E5780;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.slick-next,.slick-prev{
  background-color: #fff;
    border-radius: 50%;
    border-width: 0;
    box-shadow: 0 0 1px 1px rgba(20,23,28,.1), 0 3px 1px 0 rgba(20,23,28,.1);
    font-size: 24px;
    height: 47px;
    line-height: 1;
    padding: 11px 0;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    transition: 300ms;
    width: 47px;
    z-index: 3;
    position: absolute;
}
.slick-next:before, .slick-prev:before {
  font-size: 20px;
  line-height: 1;
  opacity: .75;
  color: #5E5780;
}
.btn-warning,.btn-primary{
  color: #212529;
  background-color: #FFEB3B;
  border-color: #FFEB3B;
}