.video-modal-player {
    .video-title {
        padding: 30px;

        p {
            font-size: 14px;
            margin: 10px 0px 30px 0px;
        }
    }
    .channel{
        font-size: 14px;
    }
}

.no-padding {
    padding: 0px;
}