.login-wrapper {
    background:#3F3C55;
    width: 100%;
    height: 100vh;
    .login-tabs {
        width: 800px;
        margin: 0 auto;
        margin-top: -250px;
        position: absolute;
        left: 0;
        right: 0;
        top: 50%;
        height: 450px;
        background: #201D37;
        color: #fff;

        .nav-tabs {
            border-bottom: 1px solid #3F3C55;
            a {
                width: 50%;
                border-radius: 0px;
                text-align: center;
                padding: 15px;
                color: #3F3C55;
                border: 0px;
            }
        }

        .tab-content {
            padding: 30px;
        }

        .btn {
            margin-right: 10px;
        }

        input.form-control {
            background: transparent;
            border: 0px;
            border-bottom: 1px solid #3F3C55;
            border-radius: 0px;
            color: #fff;
        }
    }
} 