.video-card {
    height: auto;
    margin-bottom: 20px;
    border-radius: 10px;
    position: relative;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    border: 0px;
    position: relative;
    .favorite {
        position: absolute;
        right: 12px;
    top: 13px;
        z-index: 99;
        .favorite-icon {
            background: transparent;
            border: transparent;
            &:focus {
                box-shadow: none;
            }
        }
    }

    a:hover {
        text-decoration: none;
    }

    .card-footer {
        padding: 0px;
        text-align: center;
    }

    p.card-text {
        color: #5E5780;
        display: block;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -moz-line-clamp: 2;
        -ms-line-clamp: 2;
        -o-line-clamp: 2;
        line-clamp: 2;
        -webkit-box-orient: vertical;
        -moz-box-orient: vertical;
        -ms-box-orient: vertical;
        -o-box-orient: vertical;
        box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: normal;
        font-weight: 300;
        height: 42px;
        font-size: 15px;
        margin-bottom: 10px;
    }


    .card-img-top {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    .card-video-wrapper:hover .hover {
        display: block
    }

    .hover {
        display: none;
        height: 190px;
        background: rgba(0, 0, 0, 0.8);
        top: 0;
        position: absolute;
        width: 100%;

        .hover-content {
            position: absolute;
            top: 50%;
            left: 0;
            right: 0;
            margin: 0 auto;
            color: #fff;
            margin-top: -16px;
            text-align: center;
        }
    }

}