.sidebar-container {
    .toggle {
        background: #fff;
        padding: 15px 0px;
        color: #5E5780;
    }

    .sidebar {
        padding-top: 10px;
        background-color: #fff;
        height: 100vh;
        color:#5E5780;

        .list-group {
            .list-group-item {
                background-color: transparent;
                color: #5E5780;
                border: 0px;
                border-radius: 0px;
                text-align: left;
                margin-bottom: 15px;

                &.active {
                    background-color:#5E5780;
                    color: #fff;
                }
                svg{
                    vertical-align: text-bottom;
                    margin-right: 15px;
                }
            }
        }
    }
}