.navbar-js {
    padding: 15px 0px;
    .navbar-nav .nav-item {
        margin-right: 10px;
        svg{
            margin-top: 10px;
        }
    }
    .search-nav {
        position: relative;

        input {
            border: 0px;
            border-bottom: 1px solid #fafafa;
            padding: 8px 30px;
        }

        svg {
            position: absolute;
            left: 0;
            top: 10px
        }
    }
}