.register-component {
    h4{
        margin-bottom: 20px;
    }
    .form-group {
        position: relative;
        margin-bottom: 30px;
        input.form-control {
            border: 0px;
            border-bottom: 1px solid #7d7d7d;
            border-radius: 0px;
            padding-left: 36px;
        }

        svg {
            position: absolute;
            left: 8px;
    top: 12px;
        }

        
    }
    .btn {
        margin-right: 15px;
        padding: 6px 30px;
    }
}